/* --project_slide--- */

.project_slide .slide {
  background-image: url("../img/project_slide.png");
}

.project_slide .slide h2 {
  padding-bottom: 0;
}

.project_slide .slide p {
  font-size: 20px;
  text-align: center;
  color: #e3e3e3;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 220px;
}

/* --project_slide End--- */

/* ---adress_project-- */

.adress_wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 50px 0;
}

.adress_left,
.adress_right {
  padding-bottom: 10px;
}

.adress_left {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.adress_left .table_info {
  padding-left: 20px;
}

.adress_right {
  width: 45%;
}

.table li,
.table_info li {
  padding-bottom: 20px;
}

.table li {
  font-weight: 265;
  font-size: 20px;
  line-height: 29px;
}

.table_info li {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 29px;
}

.table li:last-child,
.table_info li:last-child {
  padding-bottom: 0;
}

.adress_right p {
  padding-bottom: 15px;
  font-weight: 265;
  font-size: 14px;
}
/* ---adress_project end-- */

/* -----------Decision ---------------- */

.decision_slide .slide {
  background-image: url("../img/decision_cafe.png");
}

.decition_first {
  align-items: center;
}

.decition_first .left {
  width: 40%;
}

.decition_first .right {
  width: 60%;
}

.decition_first .right_text div {
  padding: 0 0 30px 0;
}

.decition_second p {
  text-align: left;
  padding: 40px 0;
}

/* -----Partners------= */

.partner_content .professionals {
  padding: 50px 0;
}

.partner_content h2 {
  padding-bottom: 20px;
}

.professionals .partner_p {
  text-align: left;
  padding-bottom: 40px;
}

.wrap_p {
  line-height: 35px;
  padding-bottom: 50px;
}

.professionals_info .medium_p {
  padding-bottom: 35px;
}

.professionals_info .small_p {
  padding-bottom: 20px;
}
/* ----Media------ */

@media screen and (max-width: 992px) {
  /* Project */
  .table li,
  .table_info li {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  /* Project */
  .adress_left {
    width: 100%;
  }
  .table li,
  .table_info li {
    /* Project */
    font-size: 18px;
  }

  .adress_right {
    /* Project */
    width: 100%;
  }

  .adress_right p {
    /* Project */
    font-size: 19px;
  }

  /* Decision */
  .decition_first .right_text div {
    padding: 0 0 20px 0;
  }

  .decition_first .left_text {
    font-size: 22px;
  }

  .decition_first .right_text h5 {
    font-size: 16px;
  }

  .decition_first .right_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .decition_first .left {
    width: 100%;
    padding-bottom: 20px;
  }

  .decition_first .right {
    width: 100%;
  }
}

/* ----Media End------ */
