body {
  font-family: "RF Tone";
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.small_title {
  font-size: 18px;
  color: #000;
}

.black_subtitle {
  font-weight: 300;
  font-size: 18px;

  color: #000000;
}

.a_underline {
  text-decoration: underline;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35);
}

.block_title {
  font-size: 32px;
}

.medium_p {
  font-size: 32px;
}

.small_p {
  font-weight: 300;
  font-size: 20px;
}

.slim_p {
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

/* --------header-------- */
.fixed {
  position: fixed;
}
nav {
  padding: 5px 0;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: normal;
}

.menu {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_ul li {
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.logo_ul li p {
  font-size: 14px;
}

.nav_ul li {
  padding-right: 30px;
  font-size: 18px;
  /* identical to box height */
  color: #000000;
}

.icons_ul li {
  padding-right: 15px;
}

.icons_ul li:last-child {
  padding-right: 0;
}
/* --------header-------- */

/* --------main--------- */

/* Slider */

.slider img {
  width: 100%;
}

.slide {
  background-image: url("../img/slider_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide h2 {
  padding: 220px 0;
  font-size: 56px;
  line-height: 100%;
  text-align: center;

  color: #ffffff;
  font-weight: 500;
}

/* Slider End */

/* Text under slider */
.text_block {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px 0;
}

.left_text {
  font-weight: 265;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
}

.right_text {
  display: flex;
  flex-flow: wrap;
  text-align: center;
}

.right_text div {
  width: 33.33%;
  padding-right: 60px;
}

.right_text div:last-child {
  padding-right: 0px !important;
}

.right_text h5 {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-bottom: 15px;
}

.right_text p {
  font-weight: 265;
  font-size: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 0.7);
}
/* Text under slider  End */

/* Catalog */
.catalog {
  text-align: center;
  padding-bottom: 100px;
}

.catalog_title {
  padding-bottom: 15px;
}

.catalog .a_underline {
  text-align: right;
}

.catalog_wrap {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  margin-right: -10px;
}

.catalog_block {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 20%;
  font-size: 20px;

  color: #000000;
}

.catalog_inblock img {
  width: 100%;
  margin-bottom: 10px;
}

.catalog_title .a_underline {
  padding: 10px 0 !important;
  font-size: 16px;
}

/* Catalog */

/* Request */

.request {
  background: rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.request_title {
  text-align: center;
}

.request_title h2 {
  padding-bottom: 10px;
}

.request_wrap {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}

input {
  font-family: "RF Tone";
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: 0;
  background: transparent;
  width: 200px;
}

.input_wrap {
  display: flex;
}

.btn_div {
  display: flex;
  justify-content: center;
}

.send {
  padding: 13px 80px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: #000000;
  color: #ffffff;
  outline: auto;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.image-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Request End*/

/* Projects */

/* Projects End */

/* Industry solutions */
.industry_wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  padding: 70px 0;
}

.industry_left {
  width: 30%;
}

.industry_left h2 {
  padding-bottom: 35px;
  text-align: left;
}

.industry_left p {
  padding-top: 25px;
}

.industry_right {
  width: 70%;
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
  margin-right: -10px;
}

.industry_block a {
  margin-right: -10px;
}
.industry_block {
  width: 33.33%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.industry_inblock img {
  width: 100%;
}

.industry_inblock p {
  text-align: center;
}

/* Industry solutions End */

/* --------main--------- */

/* --------Footer -----------*/

footer {
  background: #252625;
}

.footer_wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.footer_block {
  width: 25%;
}

.footer_ul {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.footer_ul form {
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
}

.footer_ul form input {
  border-bottom: 1px solid rgba(252, 252, 252, 0.6);
}

.footer_ul form button {
  background: transparent;
  border-bottom: 1px solid rgba(252, 252, 252, 0.6) !important;
  outline: none !important;
  border: 0;
  padding-bottom: 27px;
  color: #ffffff;
}

.footer_block ul li h3 {
  font-size: 20px;
  padding-bottom: 15px;
  font-weight: 300;

  color: #ffffff;
}

.footer_block ul {
  padding-bottom: 20px;
}

.footer_block ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.social_icons {
  display: flex;
  justify-content: flex-start;
  margin-right: -20px;
}
.social_icons li {
  padding-right: 20px;
}

.footer_last {
  border-top: 1px solid rgba(252, 252, 252, 0.6);
}

.footer_last ul {
  padding: 20px 0;
  display: flex;
  flex-flow: wrap;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.4);
  margin-right: -25px;
}

.footer_last ul li {
  padding-right: 25px;
}
/* --------Footer End -----------*/

/* -----Media------- */

@media screen and (max-width: 1140px) {
  .text_block {
    justify-content: center;
  }
  .left_text {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  .catalog {
    padding-bottom: 50px;
  }
  .catalog_block {
    width: 25%;
  }

  .footer_block {
    width: 50%;
  }

  .slide h2 {
    padding: 200px 0;
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .right_text {
    justify-content: center;
  }
  .right_text div {
    width: 50%;
    padding-bottom: 15px;
  }

  .catalog_block {
    width: 33.33%;
  }

  .request_wrap {
    flex-flow: row-reverse;
  }

  .industry_left {
    width: 100%;
    padding-bottom: 30px;
  }
  .industry_right {
    width: 100%;
    justify-content: center;
  }

  .slide h2 {
    padding: 160px 0;
    font-size: 34px;
  }

  /* Так нельзя , чёрт */
  .icons_ul {
    flex-direction: column;
    margin-top: -50px;
  }
}
@media screen and (max-width: 576px) {
  .text_block {
    padding: 40px 0;
  }
  .left_text {
    font-size: 20px;
  }

  .right_text div {
    padding-right: 0;
  }

  .right_text h5 {
    font-size: 16px;
  }

  .right_text p {
    font-size: 14px;
  }

  .catalog_title p {
    font-size: 14px;
  }
  .catalog_inblock p {
    font-size: 18px;
  }

  .catalog_block {
    width: 50%;
  }

  .request_right .black_subtitle,
  .request_left .label_p {
    font-size: 14px;
    line-height: 25px;
  }

  .request_left span {
    float: right;
    padding-top: 5px;
  }

  .industry_block {
    width: 50%;
  }
  .industry_inblock p {
    font: 12px;
  }
}

@media screen and (max-width: 365px) {
  .industry_right {
    margin-right: 0;
  }

  .slide h2 {
    padding: 160px 0;
    font-size: 28px;
  }
}
/* -----Media End------- */

/* Так нельзя */

@media screen and (max-width: 648px) {
  .icons_ul {
    flex-direction: row;
    padding-top: 60px;
  }
}
